
/*----------------------------------
		Theme411_Clean_Slate
		Cat Generic
----------------------------------*/

body {
	background-color: #ffffff;
}

.Data_Central_color7 {
	background-color:#AFAFAF;
}

.Data_Central_color1 {
	background-color:#BFBFBF;
}

.Data_Central_color2 {
	background-color:#CFCFCF;
}

.Data_Central_color3 {
	background-color:#DFDFDF;
}

.Data_Central_color6 {
	background-color:#EFEFEF;
}

.Data_Central_color4 {
	background-color:#ffffff;
}

.Data_Central_color5 {
	border-color:#ffffff;
}